target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# Intellij Idea IDE related files
*.iml
.idea/

# Misc.
*.metadata
*.ini
autorun.inf
.DS_Store
*.swp
.springBeans
.factorypath
.mvn
/.apt_generated/
